{% extends "feats/_template.html" %}
{% block script %}
<script>
    function addRow(templateId, containerId, managementId) {
        var totalForms = document.getElementById(managementId);
        var template = document.getElementById(templateId);
        var container = document.getElementById(containerId);
        var newRow = document.createElement("div")
        var formNumber = Number(totalForms.value)
        newRow.className = "form-group"
        newRow.innerHTML = template.innerHTML.replace(/__prefix__/g, formNumber);
        container.append(newRow);
        totalForms.value = formNumber + 1;
    }
    function removeRow(event, managementId) {
        var totalForms = document.getElementById(managementId);
        var formNumber = Number(totalForms.value);
        var row = event.target.parentElement.parentElement;
        var container = row.parentElement;
        container.removeChild(row);
        totalForms.value = formNumber - 1;
    }
</script>
{% endblock %}
{% block main %}
<p>
How should {{segment_names|join:" ,"}} be routed to implementations?
</p>
<template id="empty-form-{{formset.prefix}}">
    <div class="row">
        {% for field in formset.empty_form %}
        <div class="col">
            {{ field }}
        </div>
        {% endfor %}
        <div class="col">
            <button class="btn btn-danger" type="button" onClick="removeRow(event, 'id_{{formset.prefix}}-TOTAL_FORMS')">
                Remove Mapping
            </button>
        </div>
    </div>
</template>
<form method="POST" action="" autocomplete="off">
	{% csrf_token %}
	{{formset.management_form}}
	<div id="form-{{formset.prefix}}-container">
	{% for form in formset %}
        <div class="form-group row">
            {% for field in form %}
            <div class="col">
                {{ field }}
            </div>
            {% endfor %}
            <div class="col">
                <button class="btn btn-danger" type="button" onClick="removeRow(event, 'id_{{formset.prefix}}-TOTAL_FORMS')">
                    Remove Mapping
                </button>
            </div>
        </div>
	{% endfor %}
	</div>
	<button class="btn btn-secondary" type="button" onClick="addRow('empty-form-{{formset.prefix}}', 'form-{{formset.prefix}}-container', 'id_{{formset.prefix}}-TOTAL_FORMS')">
		Add Another Mapping
	</button>
	<input class="btn btn-primary" type="submit" value="Save Mapping"/>
</form>
{% endblock %}
