{% extends "feats/_template.html" %}
{% block script %}
<script>
	function addRow(templateId, containerId, managementId) {
		var totalForms = document.getElementById(managementId);
		var template = document.getElementById(templateId);
		var container = document.getElementById(containerId);
		var newRow = document.createElement("div")
		var formNumber = Number(totalForms.value)
		newRow.className = "form-group"
		newRow.innerHTML = template.innerHTML.replace(/__prefix__/g, formNumber);
		container.append(newRow);
		totalForms.value = formNumber + 1;
	}
</script>
{% endblock %}
{% block main %}
<p>
{{ feature.name }} can be segmented based on the input type '{{feature.feature.input_types|join:", "}}'.
</p>
{% comment %} TODO: Display current segmentation for context{% endcomment %}
{% if not formset %}
<p> There are no registered segments which match the required input type for this feature.

A segment which can handle {{feature.input_types|join:", "}} will need to be registered first.
</p>
{% else %}
<template id="empty-form-{{formset.prefix}}">
	{% include "feats/_render_form.html" with form=forset.empty_form only %}
</template>
<form method="GET" action="{% url 'feats:update-mapping' feature.name %}" autocomplete="off">
    {{formset.management_form}}
	<div id="form-{{formset.prefix}}-container">
	{% for form in formset %}
		{% include "feats/_render_form.html" with form=form only %}
	{% endfor %}
	</div>
	<input class="btn btn-primary" type="submit" value="Continue"/>
</form>
{% endif %}
{% endblock %}
