{% extends "feats/_template.html" %}

{% block main %}
{% comment %} TODO: Move the shared feature detail into an include {% endcomment %}
<section>
    <h1> Add Selector for {{ feature.name }} </h1>
</section>
<section>
    <h2>Options</h2>
    <dl>
        {% for name, impl in feature.feature.implementations.items %}
        <dt>
            {% if impl is feature.feature.default_implementation %}
            (Default)
            {% endif %}
            {{ name }}
        </dt>
        <dd>
            {% if impl.description %}
                {{ impl.description }}
            {% else %}
                No description provided
            {% endif %}
        </dd>
        {% endfor %}
    </dl>
</section>
<section>
    <h2>Selector Types</h2>
    <dl>
        <dt>Static</dt>
        <dd>
        <details>
            <summary>
                Always selects a single implementation to be used for the linked
                segments.
            </summary>
            {% include "feats/selector/static/add_form.html" %}
        </details>
        </dd>
        <dt>Rollouts</dt>
        <dd>
        <details>
            <summary>
                Deterministically selects an implementation based on the relative
                weights between different implementations.

                Rollouts are designed to be able to change the weights after the
                initial setup in order to expand the audience for an implementation.

                Objects will always receive the same implementation as long as the
                weights do not change.

                Useful for doing releases of new features or implementations.
            </summary>
            {% include "feats/selector/rollout/add_form.html" %}
        </details>
        </dd>
        <dt>Experiments</dt>
        <dd>
        <details>
            <summary>
                Randomly selects an implementation based on the relative weights
                between different implementations.

                Stores the results of previous selections to ensure objects
                always receive the same implementation regardless of how the
                configured weights change.

                Useful for doing product A/B tests.
            </summary>
            {% include "feats/selector/experiment/add_form.html" %}
        </details>
        </dd>
    </dl>
</section>
{% endblock %}
