{% extends "feats/_template.html" %}

{% block main %}
{% comment %} TODO: Move the shared feature detail into an include {% endcomment %}
<section>
    <h1> {{selector.name }} of {{ feature.name }} </h1>
</section>
<section>
    <h2>Options</h2>
    <dl>
        {% for name, impl in feature.feature.implementations.items %}
        <dt>
            {% if impl is feature.feature.default_implementation %}
            (Default)
            {% endif %}
            {{ name }}
        </dt>
        <dd>
            {% if impl.description %}
                {{ impl.description }}
            {% else %}
                No description provided
            {% endif %}
        </dd>
        {% endfor %}
    </dl>
</section>
<section>
    <h2>Configuration</h2>
    {% if selector.type == "static" %}
    {% include "feats/selector/static/change_form.html" selector %}
    {% elif selector.type == "rollout" %}
    {% include "feats/selector/rollout/change_form.html" selector %}
    {% elif selector.type == "experiment" %}
    {% include "feats/selector/experiment/change_form.html" selector %}
    {% else %}
    Unknown Selector Type "{{selector.type}}"
    {% endif %}
</section>
{% endblock %}
