{% extends "feats/_template.html" %}

{% block main %}
<section>
    {% if feature.feature.description %}
    <p class="lead"/>{{ feature.feature.description }}</p>
    {% endif %}
</section>
<section>
    <h2> Options </h2>
    <dl>
        {% for name, impl in feature.feature.implementations.items %}
        <dt>
            {% if impl is feature.feature.default_implementation %}
            (Default)
            {% endif %}
            {{ name }}
        </dt>
        <dd>
            {% if impl.description %}
                {{ impl.description }}
            {% else %}
                No description provided
            {% endif %}
        </dd>
        {% endfor %}
    </dl>
</section>
<section>
    <h2>
        Configuration
    </h2>
    {% if feature.feature.input_types %}
        {% if state.segments %}
        Segmentation: {{ state.segments|join:',' }}
        {% else %}
        No Segmentation Specified
        {% endif %}
        <a class="small" href="{% url 'feats:update-segmentation' feature.name %}">✎</a>
        {% for name, selector in state.selectors %}
        {{selector.name}}
        <a class="small" href="{% url 'feats:update-selector' feature.name selector.name %}">Edit</a>
        {% empty %}
        <p>No selectors configured. The default will always be used.</p>
        {% endfor %}
        <a class="small" href="{% url 'feats:add-selector' feature.name %}">Add Selector</a>
    {% else %}
       TODO: No-args
    {% endif %}
</section>


{% endblock %}
